<header>
    <nav class="uk-navbar-container uk-navbar-transparent
                uk-padding uk-padding-remove-vertical" 
         uk-navbar>
        
         <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-margin-remove uk-logo" href="./">ArepaTV</a>
         </div>
        
         <div class="uk-navbar-right">
             <ul class="uk-navbar-nav">
                <a class="uk-button uk-button-small uk-secondary uk-rounded" href="./login">Iniciar Sesion</a>
             </ul>
         </div>

    </nav>
</header>