body{
	background: #222;
    overflow: hidden;
    height: 100vh;
}

.modal-dark{
    background-color: black !important;
}

.uk-logo:hover { color:white!important; }
.uk-logo { color:white!important; }

#videoPlayer{
    /*filter: contrast(1.2);*/
    max-height: 600px;
    /*object-fit: fill;*/
    width: 100vw;
}

.uk-modal-dialog{
    background: #222;
}

.uk-close{
    background: #00000000
}

.uk-navbar-container{
    background-color:#00000022;
    height: 10vh;
}

.uk-logo{
    color: white;
}

#movie_list{
    background-color:#00000022;
    overflow: auto;
    height: 90vh;
}

#poster>img{
    filter: contrast(1.1);
    border-radius: 10px;
    padding: 5px;
    height:100%;
}

.material-symbols-rounded {
  font-variation-settings:
      'FILL' 0,
      'wght' 100,
      'GRAD' -25,
      'opsz' 48
}

.uk-button:hover{
	color: white;
}