<component class="uk-width-auto uk-flex-column uk-flex uk-flex-center uk-padding-small uk-visible@m"
           path="./comp/sideBar.html"
           type="aside">
</component>

<div class="uk-flex uk-flex-column">
    <component class="uk-navbar-container uk-navbar-transparent uk-padding-small uk-padding-remove-vertical" 
               path="./comp/navBar.html"
               type="nav" 
               uk-navbar>
    </component>
	<section id="movie_list"
             class="
                uk-flex-wrap uk-grid-match 
                uk-child-width-1-6@m
                uk-child-width-1-4@s
                uk-child-width-1-2		
                uk-flex 	
             "></section>
</div>