<a class="material-symbols-rounded uk-padding uk-padding-remove-horizontal uk-button" uk-toggle="offcanvas"> menu </a>
<a class="material-symbols-rounded uk-padding uk-padding-remove-horizontal uk-button" href="/?type=peliculas"> movie </a>
<a class="material-symbols-rounded uk-padding uk-padding-remove-horizontal uk-button" href="/?type=series"> live_tv </a>
<!--
<a class="material-symbols-rounded uk-padding uk-padding-remove-horizontal uk-button" href="/?type=anime"> workspace_premium </a>
-->