<div style="justify-content:center; display:flex; color:black;">  
    <div style="border-radius:10px; padding:20px; font-family: cursive;">
        
        <h1> Confirma tu dirección de correo electrónico </h1>
        <hr style="width: 100%;">
        
        <p> 
            Gracias por elegir ArepaTV, para confirmar tu dirección de correo electrónico haz click en el siguiente enlace
        </p> <br>

        <a href="LINK" style="
            background: dodgerblue;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            color: white;
            padding: 10px;"> 
            Iniciar sesión en ArepaTV 
        </a> <br> <br>

        <p>
            si no puedes hacer click en el botón, copia y pegue el siguiente enlace en su un navegador:
            <a href="LINK" style="color:dodgerblue"> LINK </a>.
        </p> <br>

    </div>        
</div>