<div class="uk-padding-large">
    <h1>DMCA</h1>
    <p class="uk-text-justify">
        La web arepatv.ml viene a ser un distribuidor externo y autorizado de los servicios digitales de material de entretención que distribuye de modo total ArepaTV, quienes cumplen con toda norma legal según el país de origen desde el cual distribuyen el servicio. arepatv.ml no almacena ni sube en su sitio o servidor, cualquier archivo de vídeo, película, archivo multimedia de ningún tipo o cualquier otro material que este protegido por la ley de derechos de autor. 
        <br><br>
        arepatv.ml no poseen ni comercializan decodificadores de TV satelital de ningún tipo. arepatv.ml cumple solo en calidad de distribuidor de servicio para el alcance de Sudamerica. arepatv.ml está de acuerdo con 17 USC § 512 y la Digital Millennium Copyright Act (“DMCA”). Es nuestra política DERIVAR a ArepaTV cualquier notificación de infracción para que ellos tomen las acciones correspondientes bajo la Digital Millennium Copyright Act (“DMCA”) y otras leyes de propiedad intelectual aplicables.
        <br><br>
        Para más informacion contactarnos a arepatvOficial@gmail.com
    </p>
</div><hr class="uk-primary">