<footer class="uk-padding-small">

    <div class="uk-flex uk-flex-wrap uk-child-width-1-4@s uk-child-width-1-2">
        <div class="uk-padding-small">
            <h1>ArepaTV</h1>
            <ul class="uk-list uk-flex uk-flex-wrap">
                <li class="uk-padding-small uk-padding-remove-vertical"><a rel="noreferrer" target="_blank"> <i uk-icon="icon:instagram"></i> </a></li>
                <li class="uk-padding-small uk-padding-remove-vertical"><a rel="noreferrer" target="_blank" href="mailto:arepatvOficial@gmail.com"> <i uk-icon="icon:google"></i> </a></li>
                <li class="uk-padding-small uk-padding-remove-vertical"><a rel="noreferrer" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx"> <i uk-icon="icon:telegram"></i> </a></li>
                <li class="uk-padding-small uk-padding-remove-vertical"><a rel="noreferrer" target="_blank" href="https://www.facebook.com/ArepatvOficial"> <i uk-icon="icon:facebook"></i> </a></li>
            </ul>
        </div>

        <div class="uk-padding-small">
            <h4>Ofrecemos</h4>
            <p>    
                Animes <br> 
                Películas <br>
                Series de TV <br>
                Documentales <br>
                Contenido +18 <br>
            </p>
        </div>

        <div class="uk-padding-small">
            <h4>Regiones</h4>
            <p>
                Perú <br>
                Chile <br>
                México <br>
                Ecuador <br>
                Bolivia <br>
                Uruguay <br>
                Colombia <br>
                Argentina <br>
                Venezuela <br>
            </p>

        </div>

        <div class="uk-padding-small">
            <h4>Dispositivos</h4>
            <p>
                TV Box <br>
                Tablet <br>
                Smart TV <br>
                Smartphone <br>
                Android TV <br>
                Fire TV Stick <br>
                Navegadores Web <br>
                Linux Windows y Mac <br>
                chromebook y chromecast <br>
            </p>
        </div>
    </div>

    <hr>

    <ul class="uk-list uk-flex uk-flex-wrap">
        <li class="uk-padding-small"><a class="uk-button uk-text" href="./dmca"> DMCA </a></li>
        <li class="uk-padding-small"><a class="uk-button uk-text" href="./pricing"> Pricing </a></li>
        <li class="uk-padding-small"><a class="uk-button uk-text" href="./term"> Term of Use </a></li>
        <li class="uk-padding-small"><a class="uk-button uk-text" href="./reseller"> Reseller </a></li>
        <li class="uk-padding-small"><a class="uk-button uk-text" href="./privacy"> Privacy Policy </a></li>
    </ul>
                
</footer>