<header>
    <nav class="uk-navbar-container uk-primary uk-shadow-large
                uk-padding uk-padding-remove-vertical" 
         uk-navbar>
        
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-margin-remove uk-logo" href="./">ArepaTV</a>
        </div>
        
        <div class="uk-navbar-right">
            <div class="uk-navbar-item">
                <a class="uk-button uk-button-small uk-default uk-rounded" href="./login">Iniciar Sesion</a>
                <a class="uk-visible@s uk-button uk-button-small uk-default uk-enphasis uk-rounded" href="./signup">Suscribete</a>
            </div>
        </div>

    </nav>
</header>