<section class="uk-height-expand uk-flex uk-flex-center uk-flex-column uk-padding">
    <h2>Planes y Servicios</h2>
    
    <section planes class="uk-flex uk-flex-wrap uk-child-width-1-3@m uk-child-width-1-1">

        <div class="uk-padding-small uk-child-width-expand">
        <div class="uk-inline uk-card uk-secondary uk-border uk-border-primary uk-rounded uk-padding">
            <h2 class="uk-card-title"> Plan Basico </h2>
            <h3> 1.99$ / Mes </h3>
            <ul class="uk-list uk-list-divider">
                <li>Películas, Series, Documentales Y Animes</li>
                <li>Netflix, HBOMax, Disney+ y Más</li>
                <li>Contenido para Adultos</li>
                <li>Contenido En 480p</li>
                <li>1 pantalla</li>
            </ul>
            <a class="uk-button uk-primary uk-enphasis uk-width-expand uk-rounded-small uk-text-large" href="./signup">Suscríbete Ahora</a>
        </div>
        </div>

        <div class="uk-padding-small uk-child-width-expand uk-text-secondary">
        <div class="uk-inline uk-card uk-primary uk-rounded uk-padding">
            <span class="uk-card-badge uk-default uk-enphasis uk-rounded">Recomendado</span>
            <h2 class="uk-card-title"> Plan Premium </h2>
            <h3> 4.99$ / Mes </h3>
            <ul class="uk-list uk-list-divider">
                <li>Películas, Series, Documentales Y Animes</li>
                <li>Netflix, HBOMax, Disney+ y Más</li>
                <li>Contenido para Adultos</li>
                <li>Contenido En 1080p</li>
                <li>4 pantallas</li>
            </ul>
            <a class="uk-button uk-default uk-enphasis uk-width-expand uk-rounded-small uk-text-large" href="./signup">Suscríbete Ahora</a>
        </div>
        </div>

        <div class="uk-padding-small uk-child-width-expand">
        <div class="uk-inline uk-card uk-secondary uk-border uk-border-primary uk-rounded uk-padding">
            <h2 class="uk-card-title"> Plan Standar </h2>
            <h3> 2.99$ / Mes </h3>
            <ul class="uk-list uk-list-divider">
                <li>Películas, Series, Documentales Y Animes</li>
                <li>Netflix, HBOMax, Disney+ y Más</li>
                <li>Contenido para Adultos</li>
                <li>Contenido En 720p</li>
                <li>2 pantallas</li>
            </ul>
            <a class="uk-button uk-primary uk-enphasis uk-width-expand uk-rounded-small uk-text-large" href="./signup">Suscríbete Ahora</a>
        </div>
        </div>

    </section>

    <section planes hidden></section>

</section><hr class="uk-primary">