<section class="uk-height-expand uk-flex uk-flex-wrap uk-child-width-1-2@m uk-child-width-1-1 uk-padding">
    <div class="uk-padding-small uk-visible@m uk-flex uk-fex-center uk-flex-middle uk-flex-column">
        <img src="" lazy="/img/logo.webp" alt="preguntas frecuentes"> <br>
        <h3>Preguntas Frequentes</h3>
        <p class="uk-text-justify">
            Para dejar claro todo sobre nuestros servicios, aquí tienes algunas de las preguntas más frecuentes que los usuarios tienen sobre la aplicación. Si tienes otra duda, puedes escribirnos al chat o correo de soporte, un abrazo! ✌️
        </p>
    </div>
    <div class="uk-child-width-expand uk-padding-small">
        <h2 class="uk-hidden@m">Preguntas Frecuentes</h2>
        <ul uk-accordion>

            <!--------------------------->
            <li class="uk-border uk-padding-small uk-border-primary">
                <a class="uk-accordion-title">¿ Que es ArepaTV ?</a>
                <div class="uk-accordion-content uk-text-justify">
                    ArepaTV es un servicio de streaming que te ofrece todo lo que quieras ver, sin límites ni comerciales, a un costo muy accesible. Nuestro servicio ofrece una gran variedad de películas, series y documentales premiados en casi cualquier pantalla conectada a internet.
                </div>
            </li>

            <!--------------------------->
            <li class="uk-border uk-padding-small uk-border-primary">
                <a class="uk-accordion-title">¿ Cuanto Cuesta ArepaTV ?</a>
                <div class="uk-accordion-content uk-text-justify">
                    Disfruta de ArepaTV en tu smartphone, tablet, smart TV, laptop o dispositivo de streaming, todo por una tarifa plana desde 1.99$ hasta 4.99$ al mes y desde 11.99$ hasta 47.99$ al año, sin costos adicionales ni contratos.para más información 
                    <a class="uk-button uk-link uk-primary" href="./pricing">
                        click aquí
                    </a>. 
                </div>
            </li>

            <!--------------------------->
            <li class="uk-border uk-padding-small uk-border-primary">
                <a class="uk-accordion-title">¿ Hay Planes Para Resellers  ?</a>
                <div class="uk-accordion-content uk-text-justify">
                    En ArepaTV nos agrada el emprendimiento, así que hemos creado planes para que los resellers puedan vender nuestras contraseñas a los usuarios. para más información 
                    <a class="uk-button uk-link uk-primary" href="./reseller"> click aquí </a>. 
                </div>
            </li>

            <!--------------------------->
            <li class="uk-border uk-padding-small uk-border-primary">
                <a class="uk-accordion-title">¿ Donde Puedo Ver Arepa TV ?</a>
                <div class="uk-accordion-content uk-text-justify">
                    Disfruta tus películas y series favoritas donde quieras, cuando quieras. Inicia sesión en tu cuenta de ArepaTV para ver contenido al instante a través de arepatv.ml desde tu computadora personal o en cualquier dispositivo inteligente con conexión a internet. Además, desde ArepaTV puedes descargar tus series y películas favoritas, para llevar contigo donde sea.
                </div>
            </li>

            <!--------------------------->
            <li class="uk-border uk-padding-small uk-border-primary">
                <a class="uk-accordion-title">¿ Cómo Cancelo ?</a>
                <div class="uk-accordion-content uk-text-justify">
                    ArepaTV es flexible. Sin contratos molestos ni compromisos. Cancela la membresía online con solo un click. No hay cargos por cancelación. Empieza y termina cuando quieras.
                </div>
            </li>

            <!--------------------------->
            <li class="uk-border uk-padding-small uk-border-primary">
                <a class="uk-accordion-title">¿ Qué puedo ver en ArepaTV ?</a>
                <div class="uk-accordion-content uk-text-justify">
                    ArepaTV tiene un amplio catálogo de películas, series, documentales, animes y más, de tus plataformas favoritas. Todo lo que quieras ver, cuando quieras.
                </div>
            </li>

            <!--------------------------->
            <li class="uk-border uk-padding-small uk-border-primary">
                <a class="uk-accordion-title">¿ Cómo puedo contactarlos ?</a>
                <div class="uk-accordion-content uk-text-justify">
                    Si tienes alguna duda, o presentas algún problema, escríbenos a nuestro correo electrónico arepatv@gmail.com y te responderemos a la brevedad posible.
                </div>
            </li>

        </ul> 
    </div>

</section><hr class="uk-primary">