<div class="uk-padding" scrollable>
    <h2>Planes Mensuales</h2>
    <table class="uk-table uk-table-divider">
        <thead>
            <tr>
                <th>  </th>
                <th>Basico</th>
                <th>Estandar</th>
                <th>Premium</th>
            </tr>
        </thead>      

        <tbody>
            <tr>
                <td>Cantidad De Dispositivos En Los Que Podrás Ver Contenido Simultáneamente</td>
                <td>1</td>
                <td>2</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Cantidad De Teléfonos O Tablets En Los Que Podrás Almacenar Descargas</td>
                <td>1</td>
                <td>2</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Películas, Series, Documentales Y Más</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <td>Laptop, Smartphone, Tablet O TV</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <td>Calidad de la Imagen</td>
                <td>480p</td>
                <td>720p</td>
                <td>1080p</td>
            </tr>
            <tr>
                <td>Costo Mensual</td>
                <td>1.99$</td>
                <td>2.99$</td>
                <td>4.99$</td>
            </tr>
            <tr>
                <td>  </td>
                <td><a class="uk-button uk-primary uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > contactar </a></td>
                <td><a class="uk-button uk-primary uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > contactar </a></td>
                <td><a class="uk-button uk-primary uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > contactar </a></td>
            </tr>
        </tbody>
    </table>
</div>

<hr class="uk-primary">

<div class="uk-padding" scrollable>
    <h2>Planes Anuales</h2>
    <table class="uk-table uk-table-divider">
        <thead>
            <tr>
                <th>  </th>
                <th>Basico</th>
                <th>Estandar</th>
                <th>Premium</th>
            </tr>
        </thead>      

        <tbody>
            <tr>
                <td>Cantidad De Dispositivos En Los Que Podrás Ver Contenido Simultáneamente</td>
                <td>1</td>
                <td>2</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Cantidad De Teléfonos O Tablets En Los Que Podrás Almacenar Descargas</td>
                <td>1</td>
                <td>2</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Películas, Series, Documentales Y Más</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <td>Laptop, Smartphone, Tablet O TV</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <td>Calidad de la Imagen</td>
                <td>480p</td>
                <td>720p</td>
                <td>1080p</td>
            </tr>
            <tr>
                <td>Costo Mensual</td>
                <td>12.99$</td>
                <td>24.99$</td>
                <td>48.99$</td>
            </tr>
            <tr>
                <td>  </td>
                <td><a class="uk-button uk-primary uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > contactar </a></td>
                <td><a class="uk-button uk-primary uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > contactar </a></td>
                <td><a class="uk-button uk-primary uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > contactar </a></td>
            </tr>
        </tbody>
    </table>
</div>

<hr class="uk-primary">