<div class="uk-padding-large">
    <h1>Política De Privacidad</h1>
    <p class="uk-text-justify">        
        Esta Política describe cómo se trata la información personal proporcionada por usted al acceder y utilizar los servicios de ArepaTV.
        <br><br>
        <strong>Tratamiento de Datos Personales</strong>
        <br>
        ArepaTV puede recopilar información sobre el perfil de consumo de sus usuarios, como ubicación, recursos y equipos utilizados, navegación, duración de uso, frecuencia, así como otra información sobre el comportamiento del usuario al usar los servicios de ArepaTV.
        <br><br> 
        El procesamiento y uso de la información recopilada se realizará para uso interno de ArepaTV con el fin de mejorar la experiencia del uso de los Usuarios, promover la mejora del rendimiento de la red, ampliar el área de cobertura, personalizar las ofertas de productos y servicios, enviar alertas o notificaciones, entre otros beneficios o ventajas comerciales que se pueden obtener. Podemos usar los Datos Personales para identificar y poner a disposición de los Usuarios contenido relevante y enviar, por ejemplo, información sobre cuenta, consumo, paquete, promociones, etc.
        <br><br> 
        ArepaTV no comparte información individualizada o pseudo anonimizada (que permite la identificación del usuario a través del procesamiento),  excepto para fines exclusivos de servicio, soporte y otros fines necesarios para el desempeño de la actividad de ArepaTV, siempre respaldado por medidas de seguridad y confidencialidad adecuadas. ArepaTV tiene la obligación de suspender la confidencialidad y poner los datos a disposición de las autoridades que, según la ley, tiene la competencia para solicitar esta información.
        <br><br> 
        La información individualizada sólo se compartirá según la ley, la determinación judicial o cuando previamente autorizada por el usuario.
        <br><br> 
        <strong>Actualización de Consentimiento de Datos</strong>
        <br>
        El consentimiento para compartir información individualizada puede revisarse, en cualquier momento, a través de la aplicación o el sitio web de autoservicio «Mi ArepaTV» mediante el uso de una contraseña personal e intransferible.
        <br>
        El Usuario puede solicitar la eliminación de sus Datos Personales y ArepaTV hará todos los esfuerzos razonables para cumplir con la solicitud.
        <br><br> 
        <strong>Mantener Registros de Conexión y Aplicación</strong>
        <br>
        En virtud del contrato firmado y de acuerdo con los servicios contratados por el Suscriptor, ArepaTV almacenará los datos de registro y los registros de uso de los servicios, en los términos requeridos por la legislación vigente, incluso observando las limitaciones aplicables a cada tipo de servicio.
        <br><br> 
        En la provisión de conexión a internet, ArepaTV almacenará registros de conexión por un período de un año, y no mantendrá registros de acceso a las aplicaciones de internet.
        <br><br> 
        En la provisión de la aplicación de Internet, en las propias aplicaciones (de ArepaTV) los registros respectivos de acceso a la aplicación se almacenarán durante 6 meses.
        <br><br> 
        Los datos de registro y facturación se almacenarán durante al menos 5 años.
        <br><br> 
        La mayor parte de la información se procesa en los Datacenters de ArepaTV, respetando la legislación vigente. Los casos específicos pueden procesarse externamente y / o almacenarse en un país extranjero que ofrezca el mismo nivel de protección y seguridad que ArepaTV.
        <br><br> 
        <strong>Seguridad en el Acceso y Almacenamiento de Datos</strong>
        <br>
        ArepaTV utiliza soluciones técnicas y medidas de seguridad adecuadas para garantizar la inviolabilidad de los datos, como el cifrado o medidas de protección equivalentes, compatibles con los estándares internacionales y el uso de buenas prácticas.
        <br><br> 
        También utiliza medidas de seguridad apropiadas a los riesgos, tales como contra la destrucción accidental o ilegal o pérdida accidental, alteración, divulgación o acceso no autorizado.
        <br><br> 
        Solo las personas autorizadas tienen acceso a la información almacenada. ArepaTV define los permisos y privilegios de acceso exclusivo de acuerdo con las responsabilidades involucradas.
        <br><br> 
        <strong>Uso de Cookies</strong>
        <br>
        Cada vez que utiliza los sitios web de ArepaTV, la información básica sobre la visita realizada puede recopilarse mediante el uso de cookies, etiquetas de píxeles, cachés de datos y otras tecnologías, y almacenarse temporalmentep
        <br>
        El uso de cookies ayuda a proporcionar un servicio más personalizado y receptivo, basado en la información sobre las elecciones que ha hecho que nos permiten analizar tendencias y adaptar el sitio para nuestros usuarios.
        <br>
        Esta información es anónima y no se utiliza para ningún otro propósito. Las direcciones IP no están vinculadas a su información personal.
        <br><br> 
        El uso de cookies se puede deshabilitar en la configuración de su navegador.
        <br><br> 
        <strong>Sitios y Aplicaciones de Terceros</strong>
        <br>
        Los servicios y productos de ArepaTV se pueden proporcionar a través de diferentes aplicaciones, sistemas operativos o plataformas, incluidos terceros. A pesar de todas las medidas adoptadas para la protección de datos, ArepaTV no es responsable de las prácticas de procesamiento de información de sitios web y aplicaciones de terceros, así como del almacenamiento de la información eventualmente recopilada, incluso si se realiza desde la página de ArepaTV en forma de publicidad, sistemas operativos o plataformas, cada uno con políticas de privacidad, avisos y términos de uso separados e independientes. ArepaTV recomienda que los lea detenidamente.
        <br><br> 
        <strong>Otros</strong>
        <br>
        Si ha registrado una contraseña o nombre de usuario para acceder a su perfil en las páginas, servicios o aplicaciones de ArepaTV, tiene la responsabilidad de proteger la confidencialidad de su contraseña, incluso para evitar el uso no autorizado. Cualquier reproducción, distribución, publicación, transmisión por cualquier medio a terceros, que permita el acceso a la información en los sitios web, aplicaciones o incluso el acceso a servicios no contratados mediante el uso de nombres de usuario o contraseñas, de cualquier manera o forma, está estrictamente prohibido.
        <br><br> 
        Los contratos de ArepaTV con sus usuarios también tienen cláusulas sobre la recopilación, el uso y el intercambio de información. Es importante que los usuarios conozcan las reglas aplicables a cada servicio.
        <br><br> 
        Esta política se aplica a todos los servicios y productos ofrecidos por ArepaTV.
        <br><br> 
        El Código de Ética que guía el trabajo de los empleados de ArepaTV garantiza la protección de la confidencialidad, integridad, disponibilidad y privacidad de la información que pertenece a ArepaTV o a nuestros usuarios, proveedores, socios y otras personas con quienes hacemos negocios.
        <br><br> 
        <strong>Validez</strong>
        <br>
        Esta Política es efectiva a partir del 16/08/2019.
        <br><br> 
        ArepaTV se reserva el derecho de modificar esta Política de Privacidad en cualquier momento, manteniéndola actualizada y disponible en los sitios web y otros canales de comunicación con los usuarios.
    </p>
</div><hr class="uk-primary">
