<div class="uk-padding uk-flex uk-flex-wrap uk-child-width-1-2@m">

    <div class="uk-padding-small"><div class="uk-text-justify uk-flex uk-background-default uk-rounded uk-flex-middle uk-flex-center">
        <img class="uk-height-small" lazy="/img/animation/ahorro.gif">
        <div class="uk-padding-small"><h2>POCA INVERSIÓN</h2> <div>
            Puede empezar comprando un panel con una inversión mínima, luego va escalando a medida que va vendiendo. No espere más y compre un panel de ArepaTV para ganar mucho desde cualquier lugar
        </div></div>
    </div></div>
    

    <div class="uk-padding-small"><div class="uk-text-justify uk-flex uk-background-default uk-rounded uk-flex-middle uk-flex-center">
        <img class="uk-height-small" lazy="/img/animation/dinero.gif">
        <div class="uk-padding-small"><h2>ALTOS BENEFICIOS</h2> <div>
            Consigue más que un sueldo básico en tu país con ArepaTV. Nuestro servicio es el más popular en todos los países latinoamericanos: Perú, Chile, México, Ecuador, Bolivia, Uruguay, Colombia, Argentina y Venezuela.
        </div></div>
    </div></div>
    

    <div class="uk-padding-small"><div class="uk-text-justify uk-flex uk-background-default uk-rounded uk-flex-middle uk-flex-center">
        <img class="uk-height-small" lazy="/img/animation/cohete.gif">
        <div class="uk-padding-small"><h2>PANEL FÁCIL DE USAR</h2> <div>
            Nuestro sistema es muy fácil de usar para gestionar las cuentas de cientos de clientes. Contamos con la plataforma en español para usar desde ordenadores y dispositivos móviles.
        </div></div>
    </div></div>
    

    <div class="uk-padding-small"><div class="uk-text-justify uk-flex uk-background-default uk-rounded uk-flex-middle uk-flex-center">
        <img class="uk-height-small" lazy="/img/animation/24-7.gif">
        <div class="uk-padding-small"><h2>SOPORTE 24/7</h2> <div>
            Tenemos soporte para clientes reseller o revendedores de ArepaTV todos los días en horarios de 24/7, excepto feriados. Comunicación directa con los técnicos de la plataforma.
        </div></div>
    </div></div>
    

</div>

<hr class="uk-primary">

<div class="uk-padding" scrollable>
    <h2>Planes Reseller</h2>
    <table class="uk-table uk-table-divider">
        <thead>
            <tr>
                <th>  </th>
                <th>Bronce</th>
                <th>Plata</th>
                <th>Oro</th>
                <th>Diamante</th>
                <th>Bedrock</th>
            </tr>
        </thead>      

        <tbody>
            <tr>
                <td>Número de cuentas generadas</td>
                <td>40</td>
                <td>80</td>
                <td>100</td>
                <td>200</td>
                <td>400</td>
            </tr>
            <tr>
                <td>Precio por cuentas generadas</td>
                <td>1$c/u</td>
                <td>0.9$c/u</td>
                <td>0.8$c/u</td>
                <td>0.7$c/u</td>
                <td>0.6$c/u</td>
            </tr>
            <tr>
                <td>Conexiones simultáneas por cuenta</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Películas, Series, Documentales y Anime</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <td>Descarga de contenido habilitada</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <td>Laptop, Smartphone, Tablet O TV</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <td>Calidad de la Imagen</td>
                <td>480p</td>
                <td>480p</td>
                <td>480p</td>
                <td>480p</td>
                <td>480p</td>
            </tr>
            <tr>
                <td>Costo del Plan</td>
                <td>40$</td>
                <td>72$</td>
                <td>80$</td>
                <td>140$</td>
                <td>240$</td>
            </tr>
            <tr>
                <td>  </td>
                <td><a class="uk-button uk-primary uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > contactar </a></td>
                <td><a class="uk-button uk-primary uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > contactar </a></td>
                <td><a class="uk-button uk-primary uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > contactar </a></td>
                <td><a class="uk-button uk-primary uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > contactar </a></td>
                <td><a class="uk-button uk-primary uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > contactar </a></td>
            </tr>
        </tbody>
    </table>
</div>

<hr class="uk-primary">

<div class="uk-padding">
    <h2>¿ QUIERES SER UN VENDEDOR OFICIAL ?</h2>
    <p class="uk-text-justify">
        Puedes formar parte de nuestra familia y ser un vendedor oficial de ArepaTV desde cualquier parte del mundo. Aquí te ofrecemos los mejores planes y soporte 24/7 para tener un ingreso sostenible mes a mes con la aplicación más popular del momento. ¿Tienes dudas? desde el botón de abajo puedes escribirnos para tener un asesor personal!
    </p>
    <a class="uk-button uk-primary uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > Contactanos </a>
</div>