<div class="uk-padding-large">
    <h1>Términos Y Condiciones</h1>
    <p class="uk-text-justify">
        ArepaTV tiene el derecho de cancelar el servicio a cualquier usuario si cualquier información proporcionada por este usuario es falsa, inexacta o engañosa sin previo aviso o costo adicional.
        <br><br>
        El uso de los Servicios para acceder a películas, series, contenido para adultos, requiere un dispositivo compatible y acceso a Internet. La experiencia de uso de los Servicios de usuario puede verse afectada por el desempeño de estos factores. Se recomienda el acceso a Internet de alta velocidad/banda ancha para aprovechar los Servicios.
        <br><br>
        ArepaTV se reserva el derecho unilateral en cualquier momento de actualizar, revisar, complementar y modificar este Acuerdo e imponer reglas, políticas, términos o condiciones nuevos o adicionales sobre el uso de los Servicios. Dichas actualizaciones, revisiones, suplementos, modificaciones y reglas, políticas, términos y condiciones adicionales entrarán en vigencia de inmediato y se considerarán incorporadas en este Acuerdo por referencia. Se recomienda al usuario que revise periódicamente este Acuerdo para mantenerse actualizado sobre los términos y condiciones de este Acuerdo. Los usuarios continuarán utilizando los Servicios después de que se considere que dicha incorporación constituye la aceptación de los Usuarios de todas y cada una de las modificaciones.
    </p>
</div><hr class="uk-primary">