<!------------------------------------------------------------------------------------->
<div class="uk-padding-large uk-flex uk-flex-center uk-flex-middle uk-flex-column uk-height-expand">
    <h4> paso <strong>2</strong> de <strong>X</strong> </h4>
    <h2> Elige un Plan </h2>
    <div>
        <a uk-toggle="target: #tb-price; animation: uk-animation-fade;" id="tb-price"
           class="uk-button uk-primary uk-enphasis uk-rounded"> Mensual </a>
        <a uk-toggle="target: #tb-price; animation: uk-animation-fade;" id="tb-price"
           class="uk-button uk-primary uk-enphasis uk-rounded" hidden> Anual </a>
    </div>
    <table class="uk-table uk-table-divider" id="tb-price">
        <thead>
            <tr>
                <th>  </th>
                <th>Basico</th>
                <th>Estandar</th>
                <th>Premium</th>
            </tr>
        </thead>      

        <tbody>
            <tr>
                <td>Cantidad De Dispositivos En Los Que Podrás Ver Contenido Simultáneamente</td>
                <td>1</td>
                <td>2</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Cantidad De Teléfonos O Tablets En Los Que Podrás Almacenar Descargas</td>
                <td>1</td>
                <td>2</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Películas, Series, Documentales Y Más</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <td>Laptop, Smartphone, Tablet O TV</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <td>Calidad de la Imagen</td>
                <td>480p</td>
                <td>720p</td>
                <td>1080p</td>
            </tr>
            <tr>
                <td>Costo Mensual</td>
                <td>1.99$</td>
                <td>2.99$</td>
                <td>4.99$</td>
            </tr>
            <tr>
                <td>  </td>
                <td><a class="uk-button uk-primary uk-rounded"> Elegir </a></td>
                <td><a class="uk-button uk-primary uk-rounded"> Elegir </a></td>
                <td><a class="uk-button uk-primary uk-rounded"> Elegir </a></td>
            </tr>
        </tbody>
    </table>

    <table class="uk-table uk-table-divider" id="tb-price" hidden>
        <thead>
            <tr>
                <th>  </th>
                <th>Basico</th>
                <th>Estandar</th>
                <th>Premium</th>
            </tr>
        </thead>      

        <tbody>
            <tr>
                <td>Cantidad De Dispositivos En Los Que Podrás Ver Contenido Simultáneamente</td>
                <td>1</td>
                <td>2</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Cantidad De Teléfonos O Tablets En Los Que Podrás Almacenar Descargas</td>
                <td>1</td>
                <td>2</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Películas, Series, Documentales Y Contenido +18</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <td>Laptop, Smartphone, Tablet O TV</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <td>Calidad de la Imagen</td>
                <td>480p</td>
                <td>720p</td>
                <td>1080p</td>
            </tr>
            <tr>
                <td>Costo Mensual</td>
                <td>12.99$</td>
                <td>24.99$</td>
                <td>48.99$</td>
            </tr>
            <tr>
                <td>  </td>
                <td><a class="uk-button uk-primary uk-rounded"> Elegir </a></td>
                <td><a class="uk-button uk-primary uk-rounded"> Elegir </a></td>
                <td><a class="uk-button uk-primary uk-rounded"> Elegir </a></td>
            </tr>
        </tbody>
    </table>

</div>