<!------------------------------------------------------------------------------------->
<div class="uk-padding-large uk-flex uk-flex-center uk-flex-middle uk-flex-column uk-height-expand">
    <h4> paso <strong>3</strong> de <strong>X</strong> </h4>
    <h2> Realiza tu Pago </h2>
    <div class="uk-child-width-expand uk-child-margin">
        <button class="uk-button uk-primary uk-enphasis"> Cryptocurrencies </button>
        <button class="uk-button uk-primary uk-enphasis"> Coinbase Wallet </button>
        <button class="uk-button uk-primary uk-enphasis"> Metamask Wallet </button>
        <button class="uk-button uk-primary uk-enphasis"> Binance Wallet </button>
    </div>
</div>