<!DOCTYPE html>
<html lang="es">

    <head>
        <!-- SEO -->
        /°component('/comp/index/meta.html')°/
        
        <!--Molly-->
        <meta name="robots" content="noindex,nofollow">
        <link rel="canonical" href="https:///°req.parse.hostname°//404" />

    </head>

	<body class="uk-background-secondary uk-light">
        
        <!-------------------------------------------------------------------------------------------------->
        /°component('comp/login/navbar.html')°/

        <!-------------------------------------------------------------------------------------------------->
        <div class="uk-height-expand uk-flex uk-flex-column uk-flex-center uk-flex-middle">
            <h1> Oops 404 Error: Pagina no encontrada </h1>
        </div>
        <!-------------------------------------------------------------------------------------------------->
        
        <!-------------------------------------------------------------------------------------------------->
        /°component('./comp/index/footer.html')°/
        
        <!-------------------------------------------------------------------------------------------------->
        <script type="text/javascript"> /°component('/js/security/main.js')°/ </script>
        <!-------------------------------------------------------------------------------------------------->

        <link rel="stylesheet" href="/css/login.css">
    </body>

</html>