<!doctype html>

<html>
	<head>
       
        <!-- SEO -->
        /°component('/comp/index/meta.html')°/

        <!-- my Code -->
        <meta name="robots" content="noindex,nofollow">
        <link rel="canonical" href="https:///°req.parse.hostname°//app" />
        
	</head>

        <body class="uk-background-secondary uk-height-expand uk-light">

        <!-------------------------------------------------------------------------------------------------->
        /°component('comp/app/navbar.html')°/
                
        <!-------------------------------------------------------------------------------------------------->
        /°component('comp/app/category.html')°/

        <!-------------------------------------------------------------------------------------------------->
        /°component('comp/app/modal.html')°/

        <!-------------------------------------------------------------------------------------------------->
        /°component('comp/app/play.html')°/
                
        <!-------------------------------------------------------------------------------------------------->
        /°component('comp/app/main.html')°/

        <script type="text/javascript" src="./js/app/main.js"></script>
        <script type="text/javascript" src="./js/app/user.js"></script>
	
        <link rel="stylesheet" href="/css/app.css" />
	</body>
	
</html>