<!DOCTYPE html>
<html lang="es">

    <head>
        <!-- SEO -->
        /°component('/comp/index/meta.html')°/
        
        <!--Molly-->
        <link rel="canonical" href="https:///°req.parse.hostname°//" />

    </head>

	<body class="uk-background-secondary uk-light">
        
        <!-------------------------------------------------------------------------------------------------->
        /°component('./comp/index/navbar.html')°/

        <!-------------------------------------------------------------------------------------------------->
        /°component('./comp/index/main.html')°/
        
        <!-------------------------------------------------------------------------------------------------->
        /°component('./comp/index/planes.html')°/
        
        <!-------------------------------------------------------------------------------------------------->
        /°component('./comp/index/preguntas.html')°/
        
        <!-------------------------------------------------------------------------------------------------->
        /°component('./comp/index/footer.html')°/

        <!-------------------------------------------------------------------------------------------------->
        <script type="text/javascript"> /°component('/js/security/main.js')°/ </script>
        <!-------------------------------------------------------------------------------------------------->
        
        <link rel="stylesheet" href="/css/index.css">
    </body>

</html>