<!DOCTYPE html>
<html lang="es">

    <head>
        <!-- SEO -->
        /°component('/comp/index/meta.html')°/

        <!--Molly-->
        <link rel="canonical" href="https:///°req.parse.hostname°//login" />

    </head>

	<body class="uk-light">
        
        <!-------------------------------------------------------------------------------------------------->
        /°component('./comp/login/navbar.html')°/
        
        <!-------------------------------------------------------------------------------------------------->
        /°component('./comp/login/main.html')°/
        
        <!-------------------------------------------------------------------------------------------------->
        /°component('./comp/index/footer.html')°/
        
        <script type="text/javascript" src="./js/login/main.js"></script>
        <link rel="stylesheet" href="/css/login.css">
    </body>

</html>