<!DOCTYPE html>
<html lang="es">

    <head>
        <!-- SEO -->
        /°component('/comp/index/meta.html')°/
        
        <!--Molly-->
        <link rel="canonical" href="https:///°req.parse.hostname°//signup" />

    </head>

	<body>
        
        <!-------------------------------------------------------------------------------------------------->
        /°component('./comp/signup/navbar.html')°/
        
        <!-------------------------------------------------------------------------------------------------->
        /°component('./comp/signup/main.html')°/
        
        <!-------------------------------------------------------------------------------------------------->
        /°component('./comp/index/footer.html')°/

        <script type="text/javascript" src="./js/signup/main.js"></script>
        <link rel="stylesheet" href="/css/signup.css">
    </body>

</html>